/** Profile Slick Style View **/
.connectingSlick .slick-prev:before {
    color: #ff6666 !important;
}

.connectingSlick .slick-next:before {
    color: #ff6666 !important;
}

/** Image Hover Effect Style **/
.profile-slider-img-container {
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 6px;
}

/* .profile-slider-img-container::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
} */

.fade-img-effect::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
}

.lock-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.profile-slider-img {
    transition: transform 0.3s ease;
    width: 100%;
}

.profile-slider-img-container:hover .profile-slider-img {
    /* transform: scale(1.05); */
     /* Slight zoom effect on hover */
}

.zoomed-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust based on the size you need */
    height: 400px; /* Adjust based on the size you need */
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    z-index: 100;
    border-radius: 6px;
    display: none; /* Initially hidden */
}

.zoomed-image-container.zoomed-visible {
    display: block; 
    /* Show when zoomed */
}

.zoomed-image {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
      object-position: top center;
        object-fit: 100% 100% ;
    display: flex;
    align-items: center;
}

/** Side bar **/
.sidebar {
    max-height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Scrollable sidebar */
    overflow-x: hidden;
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
}

.sidebar li {
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar li.active {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}
